div.board{
    position:relative;
}
.board table.viewer{
    background-color:tansparent !important;
    position:relative;
    z-index:2;
    border-collapse:collapse;
    border-style: solid;
    border-color: #000000;
	border-width: 3px;
}
.board table.listener{
    position:relative;
    z-index:3;
    border-collapse:collapse;
    border-style: solid;
    border-color: #000000;
	border-width: 0px;
}
.board tr,.board td{
	padding:0;
	margin:0;
	border:0;
}
.board div.frame{
    width: 60px;
    height: 60px;
	border-width: 1px;
    border-style: solid;
    border-color: #0000ff;


    font-size: 10px;

	/*layout,vertical align*/
	display:table-cell;
    text-align: center;
	vertical-align: middle;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*layout,horizontal align fix for 'magin:0px auto' in cell css*/
.board div.area>div {
	background: transparent;
}

.board div.listener.focus {
    border-style: solid;
    border-color: #ff0000 !important;
}
.board div.area.choose {
    border-style: solid;
    border-color: #00f000;
}

/*css for pathing*/
.board div.area.path {
    background-color: #00f000;
}
.board div.area.pathLeft {
    border-left-color: #00f000;
}
.board div.area.pathRight{
    border-right-color: #00f000;
}
.board div.area.pathTop {
    border-top-color: #00f000;
}
.board div.area.pathBottom{
    border-bottom-color: #00f000;
}
