.hide{
    display:none;
}
.board div{
    background:transparent;
}
.board{
    position:relative;
}
.board table{
    border-collapse:collapse;
    border-style:solid;
    border-width:3px;
}
.board tr,.board td{
	padding:0;
	margin:0;
	border:0;
}
.boardChild{
    position:absolute;
    left:0px;
    top:0px;
}
.simple{
    background-color:transparent !important;
	padding:0;
	margin:0;
	border:0;
}

.boardChild.listener{
    z-index:6;
}
.boardChild.flyPath{
    z-index:5;
}
.boardChild.walkPath{
    z-index:4;
}
.boardChild.bulletContainer{
    z-index:3;
}
.boardChild.unitContainer{
    z-index:2;
}
.boardChild.floor{
    z-index:1;
}
.boardChild.position{
    z-index:0;
}
.boardChild .area{
    width: 60px;
    height: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listenerArea{
    width: 58px;
    height: 58px;
    border-width: 1px;
    border-style: solid;
    border-color: #0000CC;
    background: transparent;
}
.listenerArea:hover{
    width: 56px;
    height: 56px;
    border-width: 2px;
    border-style: solid;
    border-color: #CC00CC;
    background: transparent;
}

.positionArea{
    width: 58px;
    height: 58px;

	border-width: 1px;
    border-style: solid;
    //border-color: #0000ff;
    border-color: transparent;
    background:transparent;
}

.positionArea .cellPos{
    width: 1px;
    height: 1px;

    margin:4px;
    border:0px;
    padding:24.5px;
    background:transparent;
    //background:#AAAA00 ;
}
.positionArea .centerPos{
    width: 1px;
    height: 1px;

    margin:0px;
    border:0px;
    padding:0px;
    background:transparent;
    //background:#ff00ff ;
}

.floorArea {
    width: 50px;
    height: 50px;
    padding: 5px;
    background:transparent;
}
.floorArea.show{
    background:#ffffff;
}

.floorArea .triggerRangeArea{
    width: 50px;
    height: 50px;
    background:transparent;
}
.floorArea .triggerRangeArea.show{
    background:#CC0000;
}

.floorArea .attackRangeArea{
    width: 50px;
    height: 50px;
    background:transparent;
}
.floorArea .attackRangeArea.show{
    background:#CCCC00;
}