div.board{
    position:relative;
}
.boardChild{
    position:absolute;
    left:0px;
    top:0px;
}
.listener,.drawer{
    background-color:transparent !important;
}
.boardChild.listener{
    z-index:3;
}
.boardChild.drawer{
    z-index:2;
}
.boardChild.container{
    z-index:1;
}
.boardChild.viewer{
    z-index:0;
}
.board table{
    border-collapse:collapse;
    border-style:solid;
    border-width:3px;
}
.board tr,.board td{
	padding:0;
	margin:0;
	border:0;
}



.board div.area{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.board div.area.listener{
    width: 60px;
    height: 60px;
	border:0;
}
.board div.area.viewer{
    width: 58px;
    height: 58px;

	border-width: 1px;
    border-style: solid;
    border-color: #0000ff;
}
.board div.unitPos{
    background:#ffff00 ;
    width: 2px;
    height: 2px;

    margin:4px;
    border:0px;
    padding:24px;
}
.board div.centerPos{
    background:#ff00ff ;
    width: 2px;
    height: 2px;

    margin:0px;
    border:0px;
    padding:0px;
}

