div.board{
    position:relative;
}
.listener{
    background-color:transparent !important;
}
.drawer{
    background-color:transparent !important;
}
.board>div.listener{
    background-color:transparent !important;
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
}
.board>div.drawer{
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
}
.board>div.viewer{
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
}
.board table{
    border-collapse:collapse;
    border-style:solid;
    border-width:3px;
}
.board tr,.board td{
	padding:0;
	margin:0;
	border:0;
}



.board div.area{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.board div.area.listener{
    width: 60px;
    height: 60px;
	border:0;
}
.board div.area.viewer{
    width: 58px;
    height: 58px;

	border-width: 1px;
    border-style: solid;
    border-color: #0000ff;
}

