.focus {
    border-color: #ff0000 !important;
}
.choose {
    border-style: solid;
    border-color: #00f000;
}

/*css for pathing*/
.path {
    background-color: #00f000 ;
}
.pathLeft {
    border-left-color: #00f000 !important;
}
.pathRight{
    border-right-color: #00f000 !important;
}
.pathTop {
    border-top-color: #00f000 !important;
}
.pathBottom{
    border-bottom-color: #00f000 !important;
}
