.flyPath svg line#flyPathLine{
    background-color:transparent !important;
    stroke-width:2;
}
.flyPath.attackState svg line#flyPathLine{
    stroke:#00ff00;
    stroke-dasharray:3,3,3;
}
.flyPath.moveState svg line#flyPathLine{
    stroke:#00ff00;
    stroke-dasharray:3,0;
}
