tr,td{
	padding:0;
	margin:0;
	border:0;
}
.board{
    border-style: solid;
    border-color: #000000;
}
div.area {
    width: 60px;
    height: 60px;
    text-align: center;
    border-style: solid;
    border-color: #444444;
    font-size: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.cell {
    width: 40px;
    height: 40px;
    background-color: #f0f000;
}
div.focus {
    border-style: solid;
    border-color: #f000f0 !important;
}
div.choose {
    border-style: solid;
    border-color: #00f000;
}
div.path {
    background-color: #00f000;
}
div.AREA_OUT {
    background-color: #a0a0a0;
}
div.pathLeft {
    border-left-color: #00f000;
}
div.pathRight{
    border-right-color: #00f000;
}
div.pathTop {
    border-top-color: #00f000;
}
div.pathBottom{
    border-bottom-color: #00f000;
}
