div.unit {
    position:absolute;
    width: 44px;
    height: 44px;
    background-color: #404000;
	margin: 0px;
}
.unit div{
    background-color: transparent;
}
.unit .avatar{
    position:absolute;
    left:0px;
}
.unit .info{
    position:relative;
    top:20px;
    left:0px;
}
.unit .info .ap{
    float:left;
}
.unit .info .hp{
    float:right;
}
.unit .info .ap .icon{
    width:10px;
    height:10px;
    background:url("/frontend/image/menu.png") no-repeat;
    background-position:-76px -23px;
    float:left;
}
.unit .info .hp .icon{
    width:10px;
    height:10px;
    background:url("/frontend/image/menu.png") no-repeat;
    background-position:-56px -23px;
    float:right;
}
.unit .info .value{
    background-color:transparent !important;
    color:#FFFFFF;
}
