<!---------------------------------------->
  <div class="boardChild listener simple">
    <table>
      <% for(var i=0;i<iLength;i++){ %>
	     <tr class="tr<%=i%>">
	       <% for(var j=0;j<jLength;j++){ %>
		      <td class="td<%=j%>">
			    <div class="area simple">
			      <div class="listenerArea" data-i="<%=i%>" data-j="<%=j%>">
			      </div>
			    </div>
		      </td>
	          <%}%>
	     </tr>
         <%}%>
    </table>
  </div>
<!---------------------------------------->
<div class="boardChild flyPath simple">
  <svg>
    <line class="" id="flyPathLine" x1="0" x2="0" y1="0" y2="0"/>
  </svg>
</div>
<!---------------------------------------->
  <div class="boardChild walkPath simple">
    <table>
      <% for(var i=0;i<iLength;i++){ %>
	     <tr class="tr<%=i%>">
	       <% for(var j=0;j<jLength;j++){ %>
		      <td class="td<%=j%>">
                <div class="area simple">
                  <div class="walkPathArea simple">
                    <div class="floatLeft">
                      <div class="quarterArea"> </div>
                      <div class="leftPath walkPathLine"> </div>
                      <div class="quarterArea"> </div>
                    </div>
                    <div class="floatLeft">
                      <div class="topPath walkPathLine"> </div>
                      <div class="centerPath walkPathLine"> </div>
                      <div class="bottomPath walkPathLine"> </div>
                    </div>
                    <div class="floatLeft">
                      <div class="quarterArea"> </div>
                      <div class="rightPath walkPathLine"> </div>
                      <div class="quarterArea"> </div>
                    </div>
			      </div>
			    </div>
		      </td>
	          <%}%>
	     </tr>
         <%}%>
    </table>
  </div>
<!---------------------------------------->
  <div class="boardChild bulletContainer simple">
    <h>aBullet</h>
  </div>
<!---------------------------------------->
  <div class="boardChild unitContainer simple">
  </div>
<!---------------------------------------->
  <div class="boardChild floor simple">
    <table>
      <% for(var i=0;i<iLength;i++){ %>
	     <tr class="tr<%=i%>">
	       <% for(var j=0;j<jLength;j++){ %>
		      <td class="td<%=j%>">
			    <div class="area simple">
			      <div class="positionArea">
                  </div>
			    </div>
		      </td>
	          <%}%>
	     </tr>
         <%}%>
    </table>
  </div>
<!---------------------------------------->
  <div class="boardChild position simple basePos">
    <table>
      <% for(var i=0;i<iLength;i++){ %>
	     <tr class="tr<%=i%>">
	       <% for(var j=0;j<jLength;j++){ %>
		      <td class="td<%=j%>">
			    <div class="area simple">
			      <div class="positionArea">
                    <div class="cellPos">
                      <div class="centerPos">
                      </div>
                    </div>
                  </div>
			    </div>
		      </td>
	          <%}%>
	     </tr>
         <%}%>
    </table>
  </div>
<!---------------------------------------->
