<div class="board">
  <%var argWidth=width||1; %>
  <%var argHeight=height||1; %>
  <div class="boardChild listener">
    <table>
      <% for(var i=0;i<argHeight;i++){ %>
	     <tr id="tr<%=i%>">
	       <% for(var j=0;j<argWidth;j++){ %>
		      <td id="td<%=j%>">
			    <div class="area listener" data-i="<%=i%>" data-j="<%=j%>">
			    </div>
		      </td>
	          <%}%>
	     </tr>
         <%}%>
    </table>
  </div>
  <div class="boardChild drawer">
    <svg>
      <line id="pathingline" x1="10" x2="100" y1="10" y2="100"/>
    </svg>
  </div>
  <div class="boardChild container">
  </div>
  <div class="boardChild viewer">
    <table>
      <% for(var i=0;i<argHeight;i++){ %>
	     <tr id="tr<%=i%>">
	       <% for(var j=0;j<argWidth;j++){ %>
		      <td id="td<%=j%>">
			    <div class="area viewer" data-i="<%=i%>" data-j="<%=j%>">
                  <div class="unitPos" data-i="<%=i%>" data-j="<%=j%>">
                    <div class="centerPos" data-i="<%=i%>" data-j="<%=j%>">
                    </div>
                  </div>
			    </div>
		      </td>
	          <%}%>
	     </tr>
         <%}%>
    </table>
  </div>
</div>
