.walkPathArea{
    width: 60px;
    height: 60px;
}
.walkPathArea .floatLeft{
    float:left;
    background-color:transparent!important;
}
.walkPathArea .quarterArea{
    width: 29px;
    height: 29px;
    background-color:transparent!important;
}
.walkPathArea .leftPath,.walkPathArea .rightPath{
    width: 27px;
    height: 0px;
    border:1px;
    border-style:solid;
}
.walkPathArea .topPath,.walkPathArea .bottomPath{
    width: 0px;
    height: 27px;
    border:1px;
    border-style:solid;
}
.walkPathArea .centerPath{
    width: 0px;
    height: 0px;
    border:1px;
    border-style:solid;
}
.walkPathArea .walkPathLine{
    border-style:solid;
    border-color:transparent;
    background-color:transparent !important;
}
.walkPath.attackState .walkPathLine.choosePath{
    border-style:solid;
    border-color:#ffff00;
}
.walkPath.moveState .walkPathLine.choosePath{
    border-style:solid;
    border-color:#00ff00;
}
.walkPathArea .walkPathLine.choosePath{
    border-style:solid;
}